<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <css>
                <use_css_inline_sourcemap>0</use_css_inline_sourcemap>
            </css>
        </dev>
    </default>
</config>
